@use "base" as *;

.container {
    display: grid;
    grid-template-columns: repeat(7, 100px);
    grid-template-rows: 100px;
    gap: 5px;
    margin: 5px;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.color-box-text{
    color: $color-box-text;
}

.base-color {
    background-color: $base-color;
}

.darken-3 {
    background-color: darken($color: $base-color, $amount: 30%);
    color: blue;
}

.darken-2 {
    background-color: darken($color: $base-color, $amount: 20%);
}

.darken-1 {
    background-color: darken($color: $base-color, $amount: 10%);
}

.lighten-1 {
    background-color: lighten($color: $base-color, $amount: 10%);
}

.lighten-2 {
    background-color: lighten($color: $base-color, $amount: 20%);
}

.lighten-3 {
    background-color: lighten($color: $base-color, $amount: 30%);
}